<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Postcards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-text text-center color="light">
          <h4>Enter the App!!</h4>
        </ion-text>
        <div padding>
          <ion-button
            expand="block"
            routerLink="/login"
            routerDirection="forward"
            color="light"
          >
            Login
          </ion-button>
          <ion-button
            expand="block"
            routerLink="/register"
            routerDirection="forward"
            color="light"
          >
                      Join
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
